Repository doublegate/Aura-DecentralTrust: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, Common Types & Utilities, Cryptographic Primitives, Blockchain & Storage, Identity Wallet, Network Node

codecov.yml:

# Codecov configuration for Aura DecentralTrust
codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 1
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "90...100"  # Green coverage for 90-100%
  
  status:
    project:
      default:
        target: 100%      # We aim for 100% coverage
        threshold: 1%     # Allow 1% deviation
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
    
    patch:
      default:
        target: 100%      # New code must have 100% coverage
        threshold: 0%     # No deviation allowed for patches
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: no

# Comment configuration
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# GitHub integration
github_checks:
  annotations: true  # Show inline coverage annotations

# Ignore test files and generated code
ignore:
  - "**/tests/**"
  - "**/target/**"
  - "**/examples/**"
  - "**/*.pb.rs"     # Protocol buffer generated files
  - "**/build.rs"

# Component tracking for different crates
component_management:
  individual_components:
    - component_id: aura-common
      name: "Common Types & Utilities"
      paths:
        - "aura-common/src/**"
    
    - component_id: aura-crypto
      name: "Cryptographic Primitives"
      paths:
        - "aura-crypto/src/**"
    
    - component_id: aura-ledger
      name: "Blockchain & Storage"
      paths:
        - "aura-ledger/src/**"
    
    - component_id: aura-wallet-core
      name: "Identity Wallet"
      paths:
        - "aura-wallet-core/src/**"
    
    - component_id: aura-node
      name: "Network Node"
      paths:
        - "aura-node/src/**"

# Flags for different test types
flags:
  unit:
    paths:
      - "**/src/**"
    carryforward: true
  
  integration:
    paths:
      - "tests/**"
    carryforward: true

Implement comprehensive test coverage across all crates (95% complete - 452 tests)
  CHANGELOG.md
  aura-common/src/types.rs
  aura-crypto/src/encryption.rs
  aura-crypto/src/hashing.rs
  aura-crypto/src/keys.rs
  aura-crypto/src/signing.rs
  aura-ledger/Cargo.toml
  aura-ledger/src/blockchain.rs
  aura-ledger/src/consensus.rs
  aura-ledger/src/did_registry.rs
  aura-ledger/src/revocation_registry.rs
  aura-ledger/src/storage.rs
  aura-ledger/src/transaction.rs
  aura-ledger/src/vc_schema_registry.rs
  aura-node/Cargo.toml
  aura-node/src/api.rs
  aura-node/src/audit.rs
  aura-node/src/auth.rs
  aura-node/src/config.rs
  aura-node/src/network.rs
  aura-node/src/rate_limit.rs
  aura-node/src/tls.rs
  aura-node/src/validation.rs
  aura-wallet-core/src/did_manager.rs
  aura-wallet-core/src/key_manager.rs
  aura-wallet-core/src/presentation_generator.rs
  aura-wallet-core/src/vc_store.rs
  aura-wallet-core/src/wallet.rs
  docs/TEST_COVERAGE_COMPREHENSIVE.md
  docs/security_fixes_needed.md
  to-dos/MASTER_TODO.md
  to-dos/TEST_COVERAGE_PROGRESS_2025-12-01.md
  to-dos/TEST_COVERAGE_PROGRESS_2025-12-01_LEDGER_COMPLETE.md
  to-dos/TEST_COVERAGE_SESSION_2025-12-01.md
  to-dos/TEST_COVERAGE_SUMMARY.md
  to-dos/TEST_COVERAGE_SUMMARY_2025-12-01_WALLET_COMPLETE.md
  to-dos/TEST_FIX_PROGRESS_2025-12-01.md
Due: unit, Common Types & Utilities, Cryptographic Primitives, Blockchain & Storage, Identity Wallet, Network Node

Complete comprehensive test coverage to 100% (482+ tests)
  aura-crypto/src/encryption.rs
  aura-ledger/src/blockchain.rs
  aura-node/src/main.rs
  aura-node/src/node.rs
  docs/TEST_COMPLETION_SUMMARY_2025-12-01.md
  docs/TEST_COVERAGE_COMPREHENSIVE.md
  tests/main_integration_tests.rs
Due: unit, Cryptographic Primitives, Blockchain & Storage, Network Node

Add comprehensive testing infrastructure: integration tests, property tests, and benchmarks
  aura-benchmarks/Cargo.toml
  aura-benchmarks/benches/performance_benchmarks.rs
  aura-benchmarks/src/lib.rs
  aura-node/src/main.rs
  aura-node/src/node.rs
  docs/TESTING_STRATEGY_COMPLETE.md
  tests/end_to_end_integration_tests.rs
  tests/property_tests.rs
  to-dos/TESTING_COMPLETE_SUMMARY.md
Due: unit, Network Node

Complete comprehensive test coverage (95% - 505 tests all passing)
  CHANGELOG.md
  CLAUDE.md
  README.md
  aura-node/src/api.rs
  aura-node/src/auth.rs
  aura-node/src/network.rs
  aura-node/src/node.rs
  aura-node/src/tls.rs
  docs/TEST_COMPLETION_SUMMARY_2025-06-01.md
  docs/TEST_COVERAGE_FINAL_2025-06-01.md
  to-dos/MASTER_PHASE1-REAL_IMP.md
  to-dos/SESSION_SUMMARY_2025-06-01_AFTERNOON_TESTING.md
  to-dos/TEST_COVERAGE_PROGRESS_2025-06-01.md
  to-dos/TEST_COVERAGE_PROGRESS_2025-06-01_LEDGER_COMPLETE.md
  to-dos/TEST_COVERAGE_SESSION_2025-06-01.md
  to-dos/TEST_COVERAGE_SUMMARY_2025-06-01_WALLET_COMPLETE.md
  to-dos/TEST_FIX_PROGRESS_2025-06-01.md
Due: unit, Network Node

Fix code formatting issues for CI compliance
  aura-common/src/did.rs
  aura-common/src/errors.rs
  aura-common/src/types.rs
  aura-common/src/vc.rs
  aura-crypto/src/encryption.rs
  aura-crypto/src/hashing.rs
  aura-crypto/src/keys.rs
  aura-crypto/src/signing.rs
  aura-ledger/src/blockchain.rs
  aura-ledger/src/consensus.rs
  aura-ledger/src/did_registry.rs
  aura-ledger/src/revocation_registry.rs
  aura-ledger/src/storage.rs
  aura-ledger/src/transaction.rs
  aura-ledger/src/vc_schema_registry.rs
  aura-node/src/api.rs
  aura-node/src/audit.rs
  aura-node/src/auth.rs
  aura-node/src/cert_pinning.rs
  aura-node/src/config.rs
  aura-node/src/error_sanitizer.rs
  aura-node/src/main.rs
  aura-node/src/network.rs
  aura-node/src/node.rs
  aura-node/src/rate_limit.rs
  aura-node/src/tls.rs
  aura-node/src/validation.rs
  aura-wallet-core/src/did_manager.rs
  aura-wallet-core/src/key_manager.rs
  aura-wallet-core/src/presentation_generator.rs
  aura-wallet-core/src/vc_store.rs
  aura-wallet-core/src/wallet.rs
Due: unit, Common Types & Utilities, Cryptographic Primitives, Blockchain & Storage, Identity Wallet, Network Node

Fix clippy warnings for CI compliance
  aura-common/src/types.rs
  aura-crypto/src/signing.rs
  aura-ledger/src/consensus.rs
  aura-ledger/src/transaction.rs
  aura-node/src/audit.rs
  aura-node/src/auth.rs
  aura-node/src/cert_pinning.rs
  aura-node/src/error_sanitizer.rs
  aura-node/src/network.rs
  aura-node/src/node.rs
  aura-node/src/tls.rs
Due: unit, Common Types & Utilities, Cryptographic Primitives, Blockchain & Storage, Network Node

Update MASTER_PHASE1-REAL_IMP.md with implemented but unused code
  to-dos/MASTER_PHASE1-REAL_IMP.md
Due: none

Fix remaining uninlined format args clippy warnings
  aura-node/src/api.rs
  aura-wallet-core/src/key_manager.rs
  aura-wallet-core/src/vc_store.rs
  aura-wallet-core/src/wallet.rs
Due: unit, Identity Wallet, Network Node

Fix remaining clippy warnings and Windows test failures
  aura-common/src/errors.rs
  aura-common/src/types.rs
  aura-crypto/src/encryption.rs
  aura-crypto/src/keys.rs
  aura-crypto/src/signing.rs
  aura-node/src/rate_limit.rs
  aura-node/src/tls.rs
Due: unit, Common Types & Utilities, Cryptographic Primitives, Network Node

Fix final clippy warnings and Windows-specific test issues
  aura-ledger/src/blockchain.rs
  aura-ledger/src/did_registry.rs
  aura-ledger/src/storage.rs
  aura-ledger/src/vc_schema_registry.rs
  aura-node/src/audit.rs
  aura-node/src/network.rs
  aura-node/src/node.rs
  aura-node/src/rate_limit.rs
  aura-node/src/validation.rs
Due: unit, Blockchain & Storage, Network Node

Fix test race condition in test_initialize_auth_generates_secret
  aura-node/src/main.rs
Due: unit, Network Node

Release v0.1.5: Comprehensive test coverage (95% - 505 tests)
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/TEST_COVERAGE_FINAL_2025-06-01.md
  to-dos/SESSION_SUMMARY_2025-06-01_EVENING_v015.md
Due: none

Update CLAUDE.md with v0.1.5 release information
  CLAUDE.md
Due: none

Consolidate test framework: merge aura-benchmarks into aura-tests (578 total tests)
  CHANGELOG.md
  CLAUDE.md
  Cargo.toml
  README.md
  aura-benchmarks/Cargo.toml
  aura-benchmarks/benches/performance_benchmarks.rs
  aura-benchmarks/src/lib.rs
  aura-tests/Cargo.toml
  aura-tests/proptest-regressions/property/core_properties.txt
  aura-tests/src/integration/api_tests.rs
  aura-tests/src/integration/cli_tests.rs
  aura-tests/src/integration/mod.rs
  aura-tests/src/integration/unit_integration_tests.rs
  aura-tests/src/integration/workflow_tests.rs
  aura-tests/src/lib.rs
  aura-tests/src/property/core_properties.rs
  aura-tests/src/property/mod.rs
  docs/TEST_COVERAGE_FINAL_2025-06-01.md
  tests/api_integration_tests.rs
  tests/integration_test.rs
  tests/main_integration_tests.rs
  tests/property_tests.rs
  to-dos/BENCHMARK_CONSOLIDATION_2025-06-01.md
  to-dos/MASTER_PHASE1-REAL_IMP.md
  to-dos/TEST_FRAMEWORK_COMPLETION_2025-06-01.md
  to-dos/TEST_FRAMEWORK_CONSOLIDATION_SUMMARY.md
  to-dos/TEST_FRAMEWORK_PHASE1_STATUS.md
Due: unit

Fix all clippy warnings and formatting issues for CI/CD compliance
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  README.md
  aura-tests/src/benchmarks/comprehensive_benchmarks.rs
  aura-tests/src/benchmarks/crypto_benchmarks.rs
  aura-tests/src/benchmarks/ledger_benchmarks.rs
  aura-tests/src/benchmarks/mod.rs
  aura-tests/src/benchmarks/wallet_benchmarks.rs
  aura-tests/src/integration/api_tests.rs
  aura-tests/src/integration/cli_tests.rs
  aura-tests/src/integration/mod.rs
  aura-tests/src/integration/unit_integration_tests.rs
  aura-tests/src/integration/workflow_tests.rs
  aura-tests/src/lib.rs
  aura-tests/src/property/core_properties.rs
  aura-tests/src/property/mod.rs
  to-dos/CI_CD_CLIPPY_FIXES_2025-06-01.md
  to-dos/MASTER_TODO.md
Due: unit

Fix code formatting issues for CI compliance
  CLAUDE.md
  aura-tests/src/benchmarks/comprehensive_benchmarks.rs
  aura-tests/src/benchmarks/wallet_benchmarks.rs
  aura-tests/src/integration/unit_integration_tests.rs
Due: unit

Update pre-commit checks to match CI formatting behavior
  CLAUDE.md
Due: none

Fix remaining clippy warnings and JUnit XML generation for CI
  .github/workflows/ci.yml
  aura-tests/src/benchmarks/comprehensive_benchmarks.rs
  aura-tests/src/benchmarks/ledger_benchmarks.rs
  aura-tests/src/benchmarks/wallet_benchmarks.rs
Due: unit

Fix CI JUnit XML generation for Codecov test results
  .github/workflows/ci.yml
Due: none

Release v0.1.6 - CI/CD Enhancement Release
  CHANGELOG.md
  CLAUDE.md
  Cargo.toml
  README.md
  RELEASE_NOTES_v0.1.6.md
  docs/README.md
  to-dos/Archive/BENCHMARK_CONSOLIDATION_2025-06-01.md
  to-dos/Archive/CI_CD_CLIPPY_FIXES_2025-06-01.md
  to-dos/Archive/README.md
  to-dos/Archive/SESSION_SUMMARY_2025-06-01_EVENING_v015.md
  to-dos/Archive/TESTING_COMPLETE_SUMMARY.md
  to-dos/Archive/TEST_COVERAGE_PROGRESS_2025-06-01.md
  to-dos/Archive/TEST_COVERAGE_PROGRESS_2025-06-01_LEDGER_COMPLETE.md
  to-dos/Archive/TEST_COVERAGE_SESSION_2025-06-01.md
  to-dos/Archive/TEST_COVERAGE_SUMMARY.md
  to-dos/Archive/TEST_COVERAGE_SUMMARY_2025-06-01_WALLET_COMPLETE.md
  to-dos/Archive/TEST_FIX_PROGRESS_2025-06-01.md
  to-dos/Archive/TEST_FRAMEWORK_COMPLETION_2025-06-01.md
  to-dos/Archive/TEST_FRAMEWORK_CONSOLIDATION_SUMMARY.md
  to-dos/Archive/TEST_FRAMEWORK_PHASE1_STATUS.md
  to-dos/README.md
Due: none

Fix compilation errors from KeyPair security enhancement
  aura-crypto/src/keys.rs
  aura-crypto/src/signing.rs
  aura-ledger/src/blockchain.rs
  aura-ledger/src/storage.rs
  aura-node/src/node.rs
  aura-tests/src/integration/unit_integration_tests.rs
Due: unit, Cryptographic Primitives, Blockchain & Storage, Network Node

chore(deps): consolidate dependency updates and restore a compiling main
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  Cargo.toml
  README.md
  aura-crypto/Cargo.toml
  aura-crypto/src/encryption.rs
  aura-crypto/src/hashing.rs
  aura-crypto/src/keys.rs
  aura-crypto/src/signing.rs
  aura-ledger/:memory:/000008.sst
  aura-ledger/:memory:/000009.sst
  aura-ledger/:memory:/CURRENT
  aura-ledger/:memory:/IDENTITY
  aura-ledger/:memory:/LOCK
  aura-ledger/:memory:/LOG
  aura-ledger/:memory:/LOG.old.1748843302213899
  aura-ledger/:memory:/LOG.old.1748844245372194
  aura-ledger/:memory:/MANIFEST-000011
  aura-ledger/:memory:/OPTIONS-000007
  aura-ledger/:memory:/OPTIONS-000013
  aura-ledger/Cargo.toml
  aura-ledger/src/blockchain.rs
  aura-node/Cargo.toml
  aura-node/src/auth.rs
  aura-node/src/auth_setup.rs
  aura-node/src/main.rs
  aura-node/src/network.rs
  aura-node/src/tls.rs
  aura-tests/Cargo.toml
  aura-wallet-core/Cargo.toml
  docs/SECURITY_IMPLEMENTATION_GUIDE.md
  docs/TESTING_STRATEGY_COMPLETE.md
Due: unit, Cryptographic Primitives, Blockchain & Storage, Network Node

fix(ci): untrack the second RocksDB ':memory:' directory
  aura-node/:memory:/000008.sst
  aura-node/:memory:/000009.sst
  aura-node/:memory:/CURRENT
  aura-node/:memory:/IDENTITY
  aura-node/:memory:/LOCK
  aura-node/:memory:/LOG
  aura-node/:memory:/LOG.old.1748844697105582
  aura-node/:memory:/MANIFEST-000011
  aura-node/:memory:/OPTIONS-000007
  aura-node/:memory:/OPTIONS-000013
Due: none

test(crypto): pin the AES-GCM encrypt direction with known answers
  CHANGELOG.md
  aura-crypto/src/encryption.rs
Due: unit, Cryptographic Primitives

test(node): make test_auth_setup_integration independent of test order
  aura-node/src/auth.rs
Due: unit, Network Node

fix(node): compile on Windows by gating unix-only key file permissions
  CHANGELOG.md
  aura-node/src/node.rs
Due: unit, Network Node

test(node): cover the swarm run loop's connect and disconnect arms
  aura-node/src/network.rs
Due: unit, Network Node

fix(node): create the validator key file with 0600 atomically
  CHANGELOG.md
  aura-node/src/node.rs
Due: unit, Network Node
